<div class="app-container">
  <div class="background-image">
    <img src="../assets/img/rick-and-morty-background.png" alt="" />
  </div>
  <div class="text-box">
    <div class="title-img">
      <img src="..\..\assets\img\logo.png" alt="Suazo logo" />
    </div>
    <div class="title-img">
      <img
        src="..\..\assets\img\rick-and-morty-text.svg"
        alt="Rick and Morty title"
      />
    </div>

    <h1>Bienvenido a Rick and Morty</h1>
    <h2>
      En esta prueba, evaluaremos su capacidad para construir la aplicación
      mediante el análisis de <br />
      código y la reproducción del siguiente diseño.
    </h2>
  </div>
  <div class="button">
    <p-button
      label="Continuar"
      [rounded]="true"
      (onClick)="goToCharacters()"
    ></p-button>
  </div>
</div>
